.App {
  text-align: center;
  background-color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 30px;
}

.NavBar h3 {
  margin: 0 15px;
  padding: 0;
  color: rgb(236, 131, 82);
  font-family: Brush Script MT;
  font-size: 2.2em
}

.NavBar span {
  margin: 13px 10px 0px 20px;
  text-align: right;
}

.RecipeCard {
  width: 30%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: auto;
  margin-bottom: 10px;
  padding: 15px;
}

.RecipeCard img {
  width: 100%;
}

.RecipeCard h3 {
  margin-top: .5em;
  margin-bottom: .5em;
}

.RecipeDetails {
  width: 70%;
  background-color: white;
  margin: auto;
  border: 1px solid lightgray;
  padding: 50px;
  border-radius: 3px;
  text-align: left;
}

.RecipeDetails img {
  width: 25%;
}

.RecipeForm {
  width: 70%;
  background-color: white;
  margin: auto;
  border: 1px solid lightgray;
  padding: 50px;
  border-radius: 3px;
  text-align: left;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color:rgb(236, 131, 82)
}